body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

input#txtTitle {
    max-width: 100%;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%;
}

.field-validation-error{
    color: red;
}

.input-validation-error {
    border: 2px solid red;
}

#events thead {
    background-color: #bad7cf;
    color: #000000;
}

#events .first_table_col {
    border-top-left-radius: 10px;
}

#events .last_table_col {
    border-top-right-radius: 10px;
}

input:disabled {
    background-color: red;
}

.fc-event {
    border: 15px solid red;
}