<div class="panel panel-primary">
    <div class="panel-heading">
        <h4>List Roles for a User</h4>
    </div>

    <div class="panel-body">
        @using (Html.BeginForm("GetRoles", "Roles"))
        {
            @Html.AntiForgeryToken()
                              
            <label>User Name:</label>
            @Html.DropDownList("ListOfUserNames", (IEnumerable<SelectListItem>)ViewBag.Users, "Select ...", new { @class = "form-control" })
            <br />
            <button type="submit" class="btn btn-primary text-uppercase">Get Roles for this User</button> 
            @ViewBag.GetRolesForAUserMessage

        }

        @if (ViewBag.NumberOfRolesForThisUser == 0)
        {
            <br />         
            <div class="alert-info">
                <strong>No Roles for this user!</strong>
            </div>
        }
        else if (ViewBag.RolesForThisUser != null)
        {
            <br />
            <div class="alert-info">
                <strong>Roles for this user</strong>
                <ol>
                    @foreach (string role in ViewBag.RolesForThisUser)
                    {
                        <li>@role</li>
                    }
                </ol>
            </div>
         }
   </div> <!-- End Panel Body-->
</div> <!-- End Panel -->
