@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<hr />

<address style="margin-left:10px;">
    Yoga Fitness Club,<br />
    Greater Manchester,<br />
    Bury,<br />
    BL7 6GH<br />
    <abbr title="Phone">Tel:</abbr>
    0161 995 438
</address>

<address style="margin-left:10px;">
    <strong>Support:</strong>   <a href="mailto:theyogafitnessclub@gmail.com">theyogafitnessclub@gmail.com</a><br />
</address>