
@{
    ViewBag.Title = "User Guide";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User Guide</h2>

<hr />
@* Some instuctions on how to test the website *@
<div style="margin-left:15px;">
    <h3>Instructions for testing the system..</h3>
    <p>Please follow the below steps to ensure the website is successfully tested.</p>

    <ol>
        <li>Register a Customer, Tutor and Admin - (Admin and Tutor registration links are made public for marking purposes)</li>
        <li>Use the Admin login details to login as an Admin</li>
        <li>Add branches to the system</li>
        <li>Add rooms to the system</li>
        <li>Add skills to the system</li>
        <li>Assign skills to the newly created Tutor</li>
        <li>Add ClassTypes</li>
        <li>Login as a Tutor</li>
        <li>Schedule some Classes or Sessions by clicking on the Schedule Manager link</li>
        <li>Book an event for the newly created customer or login as that customer to book an event</li>
    </ol>

    <h3>Notes</h3>
    <ul>
        <li>This website requires Microsoft SQL Management Studio for its database.</li>
        <li>Some parts of this website requires internet connection.</li>
    </ul>
</div>






